@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Mouse+Memoirs&display=swap');

.App {
  text-align: center;
  background-size:100% 100%;
  background-position:  100% 100%;
  height:100vh;
  width:100vw;
  position: relative;
  transition: background 1.1s linear;
  overflow: hidden;

  
}



.quotes{
 
  padding-top: 20vh;
 
  

}
.topline{
  color: white;
  position: absolute;
  bottom: -11px;
  left: 45%;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 2px 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'Gowun Dodum', sans-serif;
 
}
.quote{
   margin: 53vh 8vw 0 8vw;
   font-size: 1.5rem;
   font-weight: 700;
   font-family: 'Kite One', sans-serif;
   background-color: rgba(0, 0, 0, 0.616);
   padding: 12px 20px;
   line-height: 2.7rem;
   border-radius: 8px;
   color: white;
   text-align: center;

  

}


